<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Development Tools -->
    <package id="vscode" />
    <package id="notepadplusplus" />
    <package id="git" />
    <package id="fiddler" />
    <package id="ditto" />
    <!-- Media Tools -->
    <package id="vlc" />

    <!-- Productivity Tools -->
    <package id="obsidian" />
    <package id="google-chrome-x64" />
    <package id="keepass" />
    <package id="ffmpeg" />
    <package id="everything" />
    <package id="mingw" />
    <package id="llvm" />
    <package id="make" />
    <package id="cmake" />
    <!-- <package id="PowerToys" /> -->
    <package id="drawio" />
    <package id="zotero" />
    <package id="potplayer" />
    <package id="7zip" />
    <package id="freefilesync" />
    <package id="calibre" />
    <!-- Additional comments can be added as needed. -->
</packages>
